<footer class="footer">
    <div class="container container--footer">
        <div class="footer__inner">
            <div class="footer__subscribe-box">
                <h5 class="footer__headline">
                    Learn how to meet the prettiest brides
                </h5>
                <div class="footer__inner-input">
                    <input type="text" class="footer__input" placeholder="Enter email here">
                    <button class="footer__btn">
                        Subscribe
                    </button>
                </div>
            </div>
            <nav class="footer__nav col-5">
                <a href="#" class="footer__link">
                    ABOUT US
                </a>
                <a href="#" class="footer__link">
                    CONTACT US
                </a>
                <a href="#" class="footer__link">
                    ADVERTISER DISCLOSURE
                </a>
            </nav>
        </div>
    </div>
</footer>