<form  class="form">
    <figure class="form__figure">
        <img src="images/logos/form_logo.png" alt="logo" class="form__logo">
    </figure>
    <h3 class="form__headline">
        Join for FREE Today!
    </h3>
    <label  class="form__label">
        <select name="whom"  class="form__select">
        <option value="1" class="form__option">
            Man Seeking a Wooman
        </option>
        <option value="2" class="form__option">
            Lorem ipsum dolor.
        </option>
        <option value="3" class="form__option">
            Lorem ipsum dolor sit amet.
        </option>
    </select>
    </label>
    <input type="text" name="name" class="form__input" placeholder="What is your name?">
    <div class="form__inner">
        <label  class="form__label form__label--day">
            <select name="day" id="DaySelect" class="form__select">
                <option value="" class="form__option" selected disabled>
                    Day
                </option>
            </select>
        </label>
        <label  class="form__label form__label--month">
            <select name="month" id="MonthSelect" class="form__select">
                <option value="" class="form__option" selected disabled>
                    Month
                </option>
            </select>
        </label>
        <label  class="form__label form__label--year">
            <select name="year" id="yearSelect" class="form__select">
                <option value="" class="form__option" selected disabled>
                    Year
                </option>
            </select>
        </label>
    </div>
    <input type="text" class="form__input" placeholder="What is your email?">
    <input type="text" class="form__input" placeholder="Set up your password">
    <div class="form__agreement-box">
        <p class="form__agreement">
            By disking "Find My Matches" you agree with the
            <a href="#" class="form__agreement--link">
                Tems of Use
            </a>
            and
            <a href="#" class="form__agreement--link">
                Privacy Policy
            </a>
        </p>
        </div>
    <button class="form__btn">
        find my matches
    </button>
    <div class="form__sign_in-box">
        <p class="form__content">
            Alredy have as acount?
            <a href="#" class="form__sing_in">
                Sing in
            </a>
        </p>
    </div>
    </form>