<section class="hot">
    <h3 class="hot__headline">
        HOT OR NOT?
    </h3>
    <figure class="hot__figure">
        <img src="./images/portfolio/hot.jpg" alt="img" class="hot__img">
    </figure>
    <div class="hot__box ">
        <p class="hot__name">
            Maria, 21
        </p>
        <p class="hot__about">
            I like to travel. I have been traveling for many years. One of my favorite...
        </p>
    </div>
</section>
<div class="hot__inner-btn">
    <button type="button" class="hot__btn">
        Dislike
    </button>
    <button type="button" class="hot__btn">
        Like
    </button>
</div>