<div class="list ">
    <div class="list__inner">
        <ul class="list__ul">
            <li class="list__li">
                <span class="list__number">
                    01
                </span>
                <span class="list__content">
                    Overview
                </span>
            </li>
            <li class="list__li">
                <span class="list__number">
                    02
                </span>
                <span class="list__content">
                    General features
                </span>
            </li>
            <li class="list__li">
                <span class="list__number">
                    03
                </span>
                <span class="list__content">
                    Additional features
                </span>
            </li>
            <li class="list__li">
                <span class="list__number">
                    04
                </span>
                <span class="list__content">
                    Membership & Cost
                </span>
            </li>
            <li class="list__li">
                <span class="list__number">
                    05
                </span>
                <span class="list__content">
                    Overall
                </span>
            </li>
        </ul>
    </div>
</div>