<div class="rating ">
    <h3 class="rating__headline">
        BEST DATING SITES
    </h3>
    <div class="rating__inner">
        <figure class="rating__figure">
            <i class="rating__logo rating__logo--vl"></i>
        </figure>
        <div class="rating__box">
            <h5 class="rating__title">
                Valentime
            </h5>
            <div class="rating__container">
                <span class="rating__number">
                    9,
                    <span class="rating__number rating__number--grande">
                    7
                    </span>
                </span>
                <div class="rating__inner-star">
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                </div>
            </div>
            <a href="#" class="rating__link">
                Read review
            </a>
        </div>
    </div>
    <div class="rating__inner">
        <figure class="rating__figure">
            <i class="rating__logo rating__logo--rt"></i>
        </figure>
        <div class="rating__box">
            <h5 class="rating__title">
                RomanceTale
            </h5>
            <div class="rating__container">
                <span class="rating__number">
                    9,
                    <span class="rating__number rating__number--grande">
                    5
                    </span>
                </span>
                <div class="rating__inner-star">
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                </div>
            </div>
            <a href="#" class="rating__link">
                Read review
            </a>
        </div>
    </div>
    <div class="rating__inner">
        <figure class="rating__figure">
            <i class="rating__logo rating__logo--ch"></i>
        </figure>
        <div class="rating__box">
            <h5 class="rating__title">
                Charmerly
            </h5>
            <div class="rating__container">
                <span class="rating__number">
                    9,
                    <span class="rating__number rating__number--grande">
                    7
                    </span>
                </span>
                <div class="rating__inner-star">
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                </div>
            </div>
            <a href="#" class="rating__link">
                Read review
            </a>
        </div>
    </div>
    <div class="rating__inner">
        <figure class="rating__figure">
            <i class="rating__logo rating__logo--ls"></i>
        </figure>
        <div class="rating__box">
            <h5 class="rating__title">
                LoveSwans
            </h5>
            <div class="rating__container">
                <span class="rating__number">
                    9,
                    <span class="rating__number rating__number--grande">
                    5
                    </span>
                </span>
                <div class="rating__inner-star">
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                    <i class="rating__star"></i>
                </div>
            </div>
            <a href="#" class="rating__link">
                Read review
            </a>
        </div>
    </div>
</div>