<section class="review">
    <div class="container ">
        <div class="review__inner-head">
            <h3 class="review__headline">
                VICTORIABRIDES REVIEW
            </h3>
            <a href="#" class="review__btn">
                Visit site
            </a>
        </div>
        <div class="review__inner">
            <div class="container container--review ">
                @@include('../templates/form.html')
                <div class="review__box">
                    <div class="review__top-box">
                        <a href="#" class="review__help">
                            Need Help? Contact Us
                        </a>
                        <a href="#" class="review__sign">
                            sign in
                        </a>
                    </div>
                    <div class="review__title-box">
                        <h5 class="review__title">
                            Victoria Brides
                        </h5>
                        <p class="review__sub-title">
                            Online dating that is worth your time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p class="review__content">
            Lorem ipsum dolor sit amet, pro no placerat hendrerit. Ad omnis virtute sit, vis quem lorem an, at eius suscipiantur vel. Sit ad purto falli disputando, ex sale sensibus pri.
        </p>
    </div>
</section>